body {
    background-color: lemonchiffon;
}

.heading {
    color: brown;
    font-family: 'Ms Madi', cursive;
    font-size: 3rem;
}

.list {
    color: brown;
    font-family: 'Montserrat', sans-serif;
}

.jrk {
    color: darkblue;
}